<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
   body {
    background: #ECF9ED;
    color: #2A281F;
   }
</style>
<body>
{% if current_user.is_authenticated %}
<a class="navbar navbar-light" style="background-color: #e3f2fd;" href="/logout">{{ current_user.name }}</a>
{% else %}
<p>
    <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
    <a class="btn btn-success" href="/login">Войти</a>
</p>
{% endif %}
<br>

<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>